.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background: #f4f4f4;
  text-align: center;
}

.home-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-content p {
  font-size: 1.5rem;
}
